
<html>
<head>
<title> .::Login::.  </title>
 <script src="login.js" type="text/javascript"> </script>
</head>
<body>
<style>
        body{  background-image: url("1.jpg");
               background-repeat: no-repeat;
               
               background-size: cover;
               height :300px; }
      </style>>
<div  style="margin-left:70%;padding-top:5px;padding-left:30px; margin-top:12%;width:30%">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp 
<NA: style="color:black; font-family:verdana;  font-size:250%;"  >
<label>LOGIN </label> &nbsp;&nbsp;&nbsp</NA:>
<br/>
<br/>
<br/>
<label>  Name: </label> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp 
<Name: style="color:blue;"></Name:>
<input style=  "border-radius: 0px ;  border-color: black" "type="text" id="userNameField"> </input>
<br/>
<br/>
<label> Password-:</label><input style=  "border-radius: 0px ;  border-color: black" type="password" id="passwordField"> </input>
<br/>
<br/>
<label> Dont have any account?:</label><a href="http://127.0.0.1:5500/pehli.html"><b>Sign up</b>
<br/>
<br/>
<input style=  "border-radius: 0px ;  border-color: black; margin-left:70px" type="submit"  id="loginButton" value="Submit" onclick="checkForEmptyFields()" >

</div>

</body>
</html>